{
	"plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"importOrder": [
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"^react$",
		"<THIRD_PARTY_MODULES>",
		"",
		"~(.*)$",
		"^@/(.*)$",
		"",
		"^[.]",
		"^(?!.*[.]css$)[./].*$",
		".css$"
	],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.2.2",
	"tailwindFunctions": ["clsx", "cn"],
	"tailwindStylesheet": "./src/styles/app.css",
	"tailwindPreserveWhitespace": false
}
